{% extends "layout.html" %} {%block body %}

<!-- Project name -->
<div class="container">
  <div class="my-4 pb-1" style="border-bottom: 1px solid gray">
    <h5 class="font-weight-bold text-uppercase">
      Ứng dụng thuật toán học máy trong phát hiện thư rác
    </h5>
  </div>
</div>

<div class="table-apply">
  <!-- <div class="row py-5">
    <div class="col-lg-10 mx-auto"> -->
  <div class="card rounded shadow border-0">
    <div class="card-body px-5 pt-5 pb-3 bg-white rounded">
      <div class="table-responsive">
        <table id="emailTable" style="width:100%" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th>From</th>
              <th>To</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Model</th>
              <th>Spam Score</th>
              <th>Ham Score</th>
              <th>Predict</th>
            </tr>
          </thead>
          <tbody></tbody>

        </table>

      </div>
    </div>
    {{ pagination.links }}
  </div>
  <!-- </div>
  </div> -->
</div>

<script src="/static/js/script.js"></script>


{% endblock %}