{% extends "layout.html" %} {%block body %}
<!-- Project name -->
<div class="my-4 pb-1" style="border-bottom: 1px solid gray">
  <h5 class="font-weight-bold text-uppercase">
    Ứng dụng thuật toán học máy trong phát hiện thư rác
  </h5>
</div>

<!-- Result of detection -->
<!-- <h6 class="mb-3">Bảng phân loại Email</h6> -->
<div class="text-nowrap">
  <table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th>ID</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <!-- <th>Status</th> -->
        <th>Model</th>
        <th>Spam(%)</th>
        <th>Non spam(%)</th>
        <th>Predict</th>
      </tr>
    </thead>
    <tbody>
      {% for dt in emails %}
      <tr>
        <td>{{ dt.id }}</td>
        <td>{{ dt.time }}</td>
        <td>{{ dt.from }}</td>
        <td>{{ dt.to }}</td>
        <td>{{ dt.subject }}</td>
        <!-- <td>{{ dt.sent }}</td> -->
        <td>{{ dt.model }}</td>
        <td>{{ dt.spam_score }}</td>
        <td>{{ dt.non_spam_score }}</td>
        {% if dt.predict == 'Spam' %}
        <td
          style="
            background-color: rgb(206, 40, 40);
            color: white;
            text-align: center;
          "
        >
          {{ dt.predict }}
        </td>
        {% else %}
        <td
          style="
            background-color: rgb(31, 194, 31);
            color: white;
            text-align: center;
          "
        >
          {{ dt.predict }}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ pagination.links }} {% endblock %}
