{% extends "layout.html" %} {%block body %}
<!-- Body -->
<div class="container">
  <!-- Project name -->
  <div class="my-4 pb-1" style="border-bottom: 1px solid gray">
    <h3 class="font-weight-bold text-uppercase">
      Ứng dụng thuật toán học máy trong phát hiện thư rác
    </h3>
  </div>
  <!-- Result of detection -->
  <h5 class="mb-3">Bảng phân loại Email</h5>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Email ID</th>
          <th>From</th>
          <th>To</th>
          <th>Subject</th>
          <th>Ham/Spam</th>
          <th>NB Score</th>
          <th>SVM Score</th>
        </tr>
      </thead>
      <tbody>
        {% for record in emails %}
        <tr>
          <td>{{ record.id }}</td>
          <td>{{ record.email.from }}</td>
          <td>{{ record.email.to }}</td>
          <td>{{ record.email.subject }}</td>
          <td>{{ record.ham_or_spam }}</td>
          <td>{{ record.nb_score }}</td>
          <td>{{ record.svm_score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ pagination.links }}
</div>
{% endblock %}
