{% extends "layout.html" %} {%block body %}
<!-- Body -->
<div class="container">
  <!-- Project name -->
  <div class="my-4 pb-1" style="border-bottom: 1px solid gray">
    <h5 class="font-weight-bold text-uppercase">Trang chủ</h5>
  </div>

  <h6 class="mb-3">Giới thiệu đồ án</h6>

  <!-- Made by students -->
  <div class="row mb-3">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">Giảng viên hướng dẫn</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">TS. Nguyễn Mạnh Thắng</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">Sinh viên thực hiện</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Đỗ Thị Hồng Nhung - AT150641</p>
          <p class="card-text">Võ Thanh Lâm - AT150428</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contents -->
  <div>
    <p>Đồ án: Nghiên cứu các thuật toán học máy trong phát hiện thư rác</p>

    <p>Bài toán:</p>

    <p>Hướng giải quyết:</p>

    <p>Thực nghiệm:</p>
  </div>
</div>
{% endblock %}
