{% extends "layout.html" %} {%block body %}
<!-- Body -->
<div class="container">
  <!-- Project name -->
  <div class="my-4 pb-1" style="border-bottom: 1px solid gray">
    <h5 class="font-weight-bold text-uppercase">Trang chủ</h5>
  </div>

  <h6 class="mb-3" style="font-size: 18px">Giới thiệu đồ án</h6>

  <!-- Made by students -->
  <div class="row mb-3">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-header">Giảng viên hướng dẫn</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">TS. Nguyễn Mạnh Thắng</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">Sinh viên thực hiện</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Đỗ Thị Hồng Nhung - AT150641</p>
          <p class="card-text">Võ Thanh Lâm - AT150428</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contents -->
  <div>
    <div class="mb-3">
      <span class="font-weight-bold" style="font-size: 18px"> Đồ án: </span>

      <span> Nghiên cứu các thuật toán học máy trong phát hiện thư rác </span>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Bài toán</h5>
        <p class="card-text">
          Bài toán phân loại thư rác là một trong những ứng dụng của bài toán
          phân lớp. Bài toán phân lớp (classification) là bài toán lớn trong
          lĩnh vực Machine Learning (ML). Đây là quá trình phân lớp một đối
          tượng dữ liệu vào một hay nhiều lớp đã cho trước nhờ một mô hình phân
          lớp (model). Mô hình này được xây dựng dựa trên một tập dữ liệu được
          xây dựng trước được gán nhãn (hay còn gọi là tập huấn luyện). Quá
          trình phân lớp là quá trình gán nhãn cho đối tượng dữ liệu. Nhiệm vụ
          của bài toán phân lớp là tìm một mô hình phân lớp để khi có dữ liệu
          mới thì có thể xác định được dữ liệu đó thuộc vào phân lớp nào.
        </p>
      </div>
      <img
        class="card-img-bottom"
        src="/static/images/supervised.png"
        alt="Card image cap"
      />
      <p class="card-text" style="margin: 10px auto">
        <small class="text-muted">Mô hình học máy có giám sát</small>
      </p>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Hướng giải quyết</h5>
        <p class="card-text">
          Việc phân loại tiến hành như sau. Trước tiên, nội dung thư được biểu
          diễn dưới dạng các đặc trưng hay các thuộc tính, mỗi đặc trưng thường
          là một từ hoặc cụm từ xuất hiện trong thư. Tiếp theo, trong giai đoạn
          huấn luyện, tập thư đã được gán nhãn {rác, bình thường} - gọi là dữ
          liệu huấn luyện hay dữ liệu mẫu - được sử dụng để huấn luyện một bộ
          phân loại. Sau khi huấn luyện xong, bộ phân loại được sử dụng để xác
          định thư mới (thư chưa biết nhãn) thuộc vào loại nào trong hai loại
          nói trên. Trong cả giai đoạn huấn luyện và phân loại, thuật toán phân
          loại chỉ làm việc với nội dung thư đã được biểu diễn dưới dạng các đặc
          trưng. Xét bài toán phân loại thư rác dưới dạng bài toán toán phân
          loại văn bản, trong đó tập dữ liệu mẫu ban đầu là các thư rác và thư
          bình thường, các văn bản cần phân loại là các thư được gửi đến máy
          khách. Kết quả đầu ra của quá trình phân loại này là: Thư rác (spam)
          hoặc thư bình thường (ham).
        </p>
      </div>
      <img
        class="card-img-bottom"
        src="/static/images/practice-algorithm.png"
        style="width: 200px !important; height: 630px; margin: 0 auto"
        alt="Practice algorithm"
      />
      <p class="card-text" style="margin: 10px auto">
        <small class="text-muted"
          >Mô hình huấn luyện hai thuật toán Naïve Bayes và SVM</small
        >
      </p>
      <div class="card-body">
        <h5 class="card-title">Giai đoạn huấn luyên thuật toán</h5>
        <p class="card-text"></p>
        <ul>
          <li>
            <span class="text-title">Mô tả giai đoạn:</span>
            <span>Huấn luyện xác định thư rác cho thuật toán.</span>
          </li>
          <li>
            <span class="text-title">Đầu vào:</span>
            <span
              >Chứa danh sách các email đã được gán nhãn (“spam” hoặc
              “ham”).</span
            >
          </li>
          <li>
            <span class="text-title">Tiền xử lý:</span>
            <span>Loại bỏ các ký tự dừng, thẻ HTML, các ký hiệu số,…</span>
          </li>
          <li>
            <span class="text-title">Sửa lỗi chính tả:</span>
            <span
              >Sửa lỗi chính tả do người dùng không may mắc phải để tăng độ
              chính xác cho phần xử lý.</span
            >
          </li>
          <li>
            <span class="text-title">Đưa từ về dạng gốc:</span>
            <span>Đưa từ về dạng gốc (Áp dụng cho email bằng tiếng Anh).</span>
          </li>
          <li>
            <span class="text-title">Phân tích thư:</span>
            <span
              >Phân tích và tách các từ (Đơn giản với tiếng Anh và khá phức tạp
              với tiếng Việt).</span
            >
          </li>
          <li>
            <span class="text-title">Trích chọn đặc trưng:</span>
            <span>Quyết định số lượng đặc trưng sẽ sử dụng.</span>
          </li>
          <li>
            <span class="text-title">Thuật toán học máy:</span>
            <span>Phân loại Naïve Bayes và máy học vec tơ hỗ trợ SVM.</span>
          </li>
          <li>
            <span class="text-title">Đầu ra:</span>
            <span
              >Mô hình học máy phù hợp với tập dữ liệu đầu vào, và đánh giá độ
              chính xác của mô hình học máy.</span
            >
          </li>
        </ul>
      </div>

      <img
        class="card-img-bottom"
        src="/static/images/detect-spam.png"
        style="width: 460px !important; height: 620px; margin: 0 auto"
        alt="Detect spam"
      />
      <p class="card-text" style="margin: 10px auto">
        <small class="text-muted"
          >Mô hình phân loại thư rác sử dụng bộ huấn luyện</small
        >
      </p>
      <div class="card-body">
        <h5 class="card-title">Giai đoạn xác định spam</h5>
        <p class="card-text"></p>
        <ul>
          width="80" height="400"
          <li>
            <span class="text-title">Mô tả giai đoạn:</span>
            <span>Huấn luyện xác định thư rác cho thuật toán.</span>
          </li>
          <li>
            <span class="text-title">Đầu vào:</span>
            <span>Biểu diễn nội dung của một thư (dưới dạng một vec tơ).</span>
          </li>
          <li>
            <span class="text-title">Xử lý thư:</span>
            <span
              >Thư được đưa qua các bước xử lý loại bỏ các ký tự đặc biệt, ký tự
              xuống dòng, tệp đính kèm,..</span
            >
          </li>
          <li>
            <span class="text-title">Mô hình huấn luyện:</span>
            <span
              >Thư được xử lý đưa qua mô hình học máy đã được huấn luyện ở
              trên.</span
            >
          </li>
          <li>
            <span class="text-title">Đầu ra:</span>
            <span
              >Thư rác (“spam email”) hoặc thư bình thường (“ham email”).</span
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Thực nghiệm</h5>
        <p class="card-text"></p>
      </div>
      <img
        class="card-img-bottom"
        src="/static/images/thuc-nghiem.jpg"
        style="margin: 0 auto"
        alt="Practice algorithm"
      />
      <p class="card-text" style="margin: 10px auto">
        <small class="text-muted">Mô hình thực nghiệm</small>
      </p>
    </div>
  </div>
  {% endblock %}
</div>
